<h1>Add a new super hero:</h1>

<form action="/heros" method="post">
<div class="form-group">
<label for="details">Super Hero Details</label><br>
<input id="details" name="details" type="text" placeholder="Hero's name, age, course, power, weakness" class="form-control">
</div>

<button type="submit" class="btn btn-info">Add Hero</button>
</form>